.topnav {
    overflow: hidden;
    background-color: transparent;
    height: 6.25rem;
}

.topnav a {
    float: left;
    color: white;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

.topnav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.5);
    border-radius: 0.625rem;
}

.topnav-right {
    float: right;
}

.topnav img{
    width: 22rem;
    height: 4rem;
}

.dropdown-PC {
    float: left;
}

.dropdown-pcContent {
    display: none;
    position: absolute;
    min-width: 5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.5);
    border-radius: 0.625rem;
    margin-top: 4.8rem;
    z-index: 1;
    right: 0;
}

.dropdown-pcContent a {
    /*float: none;*/
}

.dropdown-PC:hover .dropdown-pcContent {
    display: block;
}

.dropdown-PC:hover .dropdown-btnPC {
    cursor: pointer;
}

.menu-overlay, .mobile-nav-btn {
    display: none;
}

body{
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
}

.stream-window{
    margin-left: 29rem;
}

.model {
    background-color: #dddddd;
    overflow: auto;
    border-radius: 20rem;
    margin-top: 1rem;
    height: 70.1rem;
}

.distance {
    margin-top: -55rem;
}

.distance img{
    height: 14rem;
    width: 20rem;
}

.back-left img{
    margin-top: 5rem;
    margin-left: 15rem;
    rotate: 270deg;
}

.back-right img{
    rotate: 270deg;
    margin-top: 12rem;
    margin-left: 15rem;
}

.front-left img{
    rotate: 47deg;
    margin-left: 95rem;
    margin-top: -90rem;
}

.front-right img {
    rotate: 133deg;
    margin-left: 95rem;
    margin-top: -5rem;
}

.car {
    margin-top: 4rem;
    margin-left: 17rem;
}

.colour-sens button{
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border-radius: 5rem;
    margin-left: 88rem;
}

.colour-sens {
    height: 60rem;
    margin-top: -60rem;
}

.left-sens {
    margin-top: 2.5rem;
}

.right-sens {
    margin-top: 42.8rem;
}
