.topnav {
    overflow: hidden;
    background-color: transparent;
    height: 6.25rem;
}

.topnav a {
    float: left;
    color: white;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

.topnav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.5);
    border-radius: 0.625rem;
}

.topnav-right {
    float: right;
}

.topnav img{
    width: 22rem;
    height: 4rem;
}

.dropdown-PC {
    float: left;
}

.dropdown-pcContent {
    display: none;
    position: absolute;
    min-width: 5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.5);
    border-radius: 0.625rem;
    margin-top: 4.8rem;
    z-index: 1;
    right: 0;
    transform-origin: top center;
    animation: grow 300ms ease-in-out forwards;
}

@keyframes grow {
    0% {
        transform: scaleY(0)
    }
    50% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropdown-pcContent a {
    float: none;
}

.dropdown-PC:hover .dropdown-pcContent {
    display: block;
}

.dropdown-PC:hover .dropdown-btnPC {
    cursor: pointer;
}

.menu-overlay, .mobile-nav-btn {
    display: none;
}

body{
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
}

.model {
    background-color: #dddddd;
    overflow: auto;
    border-radius: 20rem;
    margin-top: 1rem;
    height: 70.1rem;
}

.distance {
    margin-top: -55rem;
}

.distance img{
    height: 14rem;
    width: 20rem;
}

.back-left img{
    margin-top: 5rem;
    margin-left: 15rem;
    rotate: 270deg;
}

.back-right img{
    rotate: 270deg;
    margin-top: 12rem;
    margin-left: 15rem;
}

.front-left img{
    rotate: 47deg;
    margin-left: 95rem;
    margin-top: -90rem;
}

.front-right img {
    rotate: 133deg;
    margin-left: 95rem;
    margin-top: -5rem;
}

.car {
    margin-top: 4rem;
    margin-left: 17rem;
}

.colour-sens button{
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border-radius: 5rem;
    margin-left: 88rem;
}

.colour-sens {
    height: 60rem;
    margin-top: -60rem;
}

.left-sens {
    margin-top: 2.5rem;
}

.right-sens {
    margin-top: 42.8rem;
}

@media only screen and (max-width: 600px) {
    .distance {
        margin-top: -32.5rem;
        width: 50rem;
        height: 35rem;
    }

    .distance img{
        height: 10rem;
        width: 13rem;
    }

    .car img{
        height: 30rem;
        width: 45rem;
        margin-left: 4rem;
        margin-top: 1rem;
    }

    .model{
        rotate: -90deg;
        width: 50rem;
        height: 37rem;
        border-radius: 5rem;
        margin-left: -6.5rem;
        margin-top: 10rem;
        overflow: hidden;
    }

    .back-left img{
        margin-top: 6rem;
        margin-left: -1rem;
        rotate: 270deg;
    }

    .back-right img{
        rotate: 270deg;
        margin-top: 3rem;
        margin-left: -1rem;
    }

    .front-left img{
        rotate: 47deg;
        margin-top: -50rem;
        margin-left: 37rem;
    }

    .front-right img {
        rotate: 133deg;
        margin-top: -6rem;
        margin-left: 37rem;
    }

    .car {
        margin: 2.5rem 0 0 0;
    }

    .colour-sens button{
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border-radius: 3rem;
        margin-left: 35rem;
    }

    .colour-sens {
        width: 50rem;
        height: 30rem;
        margin-top: -33rem;
    }

    .left-sens{
        margin-top: 1.8rem;
    }

    .right-sens{
        margin-top: 21.2rem;
    }

    .topnav-right {
        display: none;
    }

    body {
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: auto;
        height:100%;
        width:100%;
    }

    .menu-overlay {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        overflow-x: hidden;
        transition: right 0.5s ease;
        z-index: 1;
    }

    .menu-overlay a {
        padding: 0rem 0.5rem;
        text-decoration: none;
        font-size: 5rem;
        color: #818181;
        transition: 0.3s;
    }

    .menu-overlay a:hover {
        color: white;
    }

    .mobile-nav-btn{
        display: block;
        float: right;
        padding: 0.6rem;
        background-color: transparent;
        border: none;
        font-size: 3rem;
        color: #818181;
    }

    .mobile-nav-clsbtn{
        float: right;
        padding: 0.6rem;
        color: #818181;
        background-color: transparent;
        border: none;
        font-size: 3rem;
    }

    .mobile-content {
        position: relative;
        width: 30rem;
        margin: 12rem 5rem;
    }
}
