input[type=button], input[type=submit], input[type=reset] {
    background-color: transparent;
    border: none;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}