.cookie-consent {
    background-color: white;
    border: 1px solid black;
    bottom: 0;
    display: inline-block;
    left: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 999;
}

.cookie-consent h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.cookie-consent p {
    font-size: 16px;
    margin-bottom: 20px;
}

.cookie-consent button {
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 20px;
}