.topnav {
    overflow: hidden;
    background-color: transparent;
    height: 6.25rem;
}

.topnav a {
    float: left;
    color: white;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

.topnav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.5);
    border-radius: 0.625rem;
}

.topnav-right {
    float: right;
}

.topnav img{
    width: 22rem;
    height: 4rem;
}

.dropdown-PC {
    float: left;
}

.dropdown-pcContent {
    display: none;
    position: absolute;
    min-width: 5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.5);
    border-radius: 0.625rem;
    margin-top: 4.8rem;
    z-index: 1;
    right: 0;
}

.dropdown-pcContent a {
    /*float: none;*/
}

.dropdown-PC:hover .dropdown-pcContent {
    display: block;
}

.dropdown-PC:hover .dropdown-btnPC {
    cursor: pointer;
}

.menu-overlay, .mobile-nav-btn {
    display: none;
}

body {
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(128,128,128);
    font-size: xx-large;
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
}

.speed:hover {
    opacity: 1;
}

.speed::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.speed::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

h1, p{
    user-select: none;
    text-align: center;
}

.turn-str {
    position: fixed;
    bottom: 8rem;
    left: 1rem;
}

.turn-str > button {
    font-size: 4.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.str-grid {
    position: fixed;
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: repeat(3, 6.25rem);
    grid-template-rows: repeat(3, 6.25rem);
    bottom: 1rem;
    right: 1rem;
}

.str-grid > button {
    font-size: 5rem;
}

.str-grid > button:nth-child(even) {
    font-size: 4rem;
    padding-bottom: 5rem;
}

button:active {
    background-color: #e74c3c;
}