body {
    background-color: #e6e6e8;
}
.topnav img{
    width: 208px;
    height: 40px;
}

button{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.75rem;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}

.center button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

select{
    background-color: #dddddd;
}


input[type="date"]{

    background: #dddddd;
    padding:15px;
    font-family: monospace;
    color:#ffffff;
    font-size: 16px;
    border:none;
    outline:none;
    border-radius: 5px;
}

.styleHover:hover{
    background-color: #eeeeee;
}
